@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Resets de utilidad */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    font-family: "Montserrat", sans-serif;
    color: #3c3c3c; /* Texto principal en un gris oscuro */
}

/* Encabezados y párrafos */
h1, h2, h3, h4, h5, h6 {
    color: #d3005fc2; /* Color rosa fuerte para encabezados */
}

p {
    font-size: 0.8rem;
    color: #3c3c3c; /* Texto en gris oscuro */
}

a {
    color: #d3005fa2; /* Color de enlaces en rosa */
    text-decoration: none;
}

/* Alineación y encabezados */
.center {
    text-align: center;
}

.head {
    padding: 5px 10px;
    font-size: 0.8rem;
    background-color: #ff99cc; /* Fondo de encabezados en rosa claro */
    color: #ffffff; /* Texto blanco */
}

.container-head {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Iconos y logotipos */
.fa-solid, .fa-moon {
    color: #d3005f70; /* Color rosa fuerte */
}

.logo {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    color: #3c3c3c; /* Texto del logotipo en gris oscuro */
    margin-top: 0px;
    padding: 0 10px;
}

.dark-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Container */
.container {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
}

/* Showcase section */
#showcase {
    background-color: #f3c6d6; /* Fondo en rosa claro */
}

.showcase-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
}

.showcase-row-hi h1 {
    font-weight: 400;
    text-transform: uppercase;
    color: #000000; 
}

.container-anim {
    margin-top: 20px;
    display: inline-block;
    width: 440px;
}

.tipear {
    overflow: hidden;
    border-right: .15em solid #d3005fda; /* Bordes en rosa fuerte */
    white-space: nowrap;
    font-size: 2.5rem;
    width: 0;
    animation: typing 5s forwards infinite, tilt 1s infinite;
}

@keyframes typing {
    from { width: 0% }
    to { width: 100% }
}

@keyframes tilt {
    0%{ border-right: .15em solid #d3005fe3; }
}

.showcase-row-hi h4 {
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #3c3c3c; /* Texto en gris oscuro */
}

.row-hi-btn {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

.row-hi-btn a {
    text-decoration: none;
}

#btn {
    background-color: #d3005fbe; /* Fondo de botón en rosa fuerte */
    text-align: center;
    padding: 15px 30px;
    color: white;
    box-shadow: -7px 12px 36px 6px rgba(0,0,0,0.31);
}

#contact {
    padding: 0px 30px;
    color: #3c3c3c; /* Texto en gris oscuro */
}

.showcase-row-avatar img {
    border-radius: 70%;
    width: 250px;
    border: 10px solid #ffffff; /* Bordes blancos */
    box-shadow: -1px 0px 18px 15px rgba(0,0,0,0.12);
}

/* Sobre mi section */
.sobre-mi-row {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

#sobre-mi-row-bio {
    flex-basis: 50%;
}

#sobre-mi-row-bio h4 {
    font-weight: 500;
    font-size: 2rem;
    color: #d3005f; /* Texto en rosa fuerte */
}

#camila {
    text-decoration: underline;
    text-decoration-color: #d3005f; /* Subrayado en rosa fuerte */
}

#sobre-mi-row-bio p {
    font-weight: 500;
    font-size: 1rem;
    color: #3c3c3c; /* Texto en gris oscuro */
}

.sobre-mi-row-exp {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#container-exp {
    background-color: #ff66a3; /* Fondo en rosa claro */
    border-radius: 50%;
    width: 105px;
    height: 100px;
    position: relative;
    left: 60px;
    z-index: 2;
}

.nnumber {
    position: absolute;
    left: 16px;
    bottom: 0px;
    font-size: 8rem;
    color: rgb(49, 49, 49);
}

#experiencia {
    font-weight: 900;
}

.sobre-mi-row-datos {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.sobre-mi-row-datos h6 {
    color: grey;
    font-size: 0.7rem;
}

/* Servicios section */
.service-card {
    background-color: #ffb3d9; /* Color de fondo suave */
    border: none; /* Sin borde */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    border-radius: 20px; /* Bordes redondeados */
}

.service-card:hover {
    transform: translateY(-10px); /* Mueve la tarjeta hacia arriba */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
}

.service-card .card-body {
    padding: 30px; /* Más espacio interno */
}

.service-card h4 {
    font-weight: bold; /* Negrita para el título */
    color: #d3005f; /* Título en rosa fuerte */
}

.service-card p {
    font-size: 0.9rem; /* Tamaño de texto ajustado */
    color: #6c757d; /* Color de texto suave */
}

/* Resumen section */
#resumen-column {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.My-education-column, .My-experience-column {
    flex-basis: 50%;
    border-left: 2px solid #d3005f; /* Borde izquierdo en rosa fuerte */
    padding: 30px;
}

.educacion, .experiencia {
    border-top: 1px solid #ececec; /* Borde superior en gris claro */
    margin-top: 30px;
    padding: 20px;
}

.educacion h5, .experiencia h5 {
    font-size: 1rem;
    color: #d3005f; /* Texto en rosa fuerte */
}

.educacion h6, .experiencia h6 {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #3c3c3c; /* Texto en gris oscuro */
}

.educacion p, .experiencia p {
    margin-top: 10px;
    color: #3c3c3c; /* Texto en gris oscuro */
}

/* Skills section */
.skill {
    font-size: 2.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.skillbars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 60px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.skillbars p {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Mantener colores originales de iconos de habilidades */
.skillbars i {
    color: inherit;
}

/* Portfolio section */
.btn {
    margin-top: 0.1rem;
    display: inline-block;
    padding: .7rem 3rem;
    font-size: .7rem;
    color: #0c0c0c;
    background: #ff99cc; /* Fondo en rosa claro */
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .1rem;
    background-color: #d3005f; /* Hover en rosa fuerte */
}

.portfolio #proyects-row-wrap {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
}

.portfolio #proyects-row-wrap .box {
    border: solid 2px #363636;
}

.portfolio #proyects-row-wrap .box .image {
    height: 10rem;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}

.portfolio #proyects-row-wrap .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    padding-right: 19px;    
    margin-bottom: 1rem;
}

.portfolio #proyects-row-wrap .box:hover .image img {
    transform: scale(1.2);
}

.content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.portfolio #proyects-row-wrap .box .content .title {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #000000;
    padding: 1rem;
}

.portfolio #proyects-row-wrap .box .content .title:hover {
    color: #ff66b2; /* Hover en rosa claro */
}

.portfolio #proyects-row-wrap .box .content span {
    color: #363636;
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
    padding: 1rem;
}

.portfolio #proyects-row-wrap .box .content p {
    font-size: 0.8rem;
    line-height: 1.8;
    color: #000000;
    padding: 1rem;
}

.portfolio-navbar {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.portfolio-navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.portfolio-navbar ul li {
    padding: 0 20px;
    font-weight: bold;
}

.portfolio-navbar ul li a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(43, 39, 3);
} 

#proyects-row-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

#proyects-row-wrap img {
    width: 400px;
    height: 30px;
    margin: 10px;
    box-sizing: border-box;
}

/* Contacto */
#contacto {
    background-color: #f8f9fa; /* Fondo claro */
}

.contact-row {
    display: flex;
    padding-top: 60px;
    margin-bottom: 60px;
}

#touch {
    padding: 0 100px;
}

#touch h3 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #d3005f; /* Título en rosa fuerte */
}

#touch p {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contact-icons {
    position: relative;
    right: 10px;
}

.contact-icons ul li {
    float: left;
    list-style: none;
}

.contact-icons ul li a {
    margin: 0 10px;
    font-size: 1rem;
}

/* Footer */
#footer {
    background-color: #d3aeb6; /* Fondo en rosa claro */
    color: white;
}

#footer-row {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
}

#footer-row a {
    color: #d3005f; /* Enlaces en rosa fuerte */
}

.ul-header.active {
    display: none;
}

/* Query 800 */
@media only screen and (max-width: 880px) {
    #mainheader .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #ffffff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    #mainheader .navbar.active {
        right: 0;
    }

    #mainheader .navbar a {
        color: black;
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .nav-header {
        display: flex;
        justify-content: space-between;
    }

    .menu li {
        display: none;
    }
    .burger {
        display: inline;
        color: black;
        padding: 0;
    }

    /* Showcase */
    .showcase-row {
        flex-direction: column-reverse;
        text-align: center;
    }
    .showcase-row-hi {
        margin-top: 30px;
    }
    .row-hi-btn {
        justify-content: center;
    }
    /* Sobre mí */
    .sobre-mi-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .sobre-mi-row-exp {
        margin-top: 50px;
    }
    .datos {
        flex-basis: 40%;
    }
    .services {
        flex-basis: 30%;
    }
    /* Resumen */
    #resumen-column {
        flex-direction: column;
        margin-top: 10px;
    }
    .columnasexp {
        margin-top: 50px;
    }
    .contact-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* Contacto */
    #touch {
        text-align: center;
    }
    .contact-icons {
        display: flex;
        justify-content: center;
    }

    #btn-holder { text-align: center; }
    /* Footer */
    #footer-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #form h3 {
        text-align: center;
    }

    #design {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 670px) {
    .portfolio-navbar {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 566px) {
    .portfolio-navbar {
        font-size: 0.7rem;
        padding: 0px;
    }
}

@media only screen and (max-width: 460px) {
    .showcase-row {
        text-align: center;
    }

    .showcase-row-avatar img {
        width: 50%
    }
    .container-anim {
        width: 350px;
    }
    .tipear {
        font-size: 2rem;
    }
    /* Sobre mí */
    .container-head {
        margin-top: 20px;
    }

    .sobre-mi-row-bio, h4 {
        margin-bottom: 40px;
    }
    .sobre-mi-row-bio, p {
        margin: 30px;
    }
    
    .sobre-mi-row-datos {
        justify-content: flex-start;
    }
    .datos {
        text-align: left;
        margin-left: 20px;
    }
    .datos h5 {
        margin-top: 1px;
        font-size: 1rem;
    }
    /* Servicios */
    .services {
        flex-basis: 100%; 
        margin: 0;
        padding-top: 30px;
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 94px;
        padding-bottom: 0;
    }

    #touch, h3 {
        margin-top: 0px;
        margin-bottom: 50px;
        padding-left: 55px;
        padding-right: 55px;
    }
    
    #touch, p {
        margin-right: 0px;
        margin-left: 0px;
    }
    
    #form, h3 {
        margin-bottom: 42px;
    }
    
    #servicios.container, p {
        padding: 0 30px;
    } 
       
    /* Resumen */
    #resumen-column {
        padding: 0 20px;
    }
    /* Habilidades */
    #skills {
        padding: 0 20px;
        margin-top: 50px;
    }
    /* Portfolio */
    .portfolio-navbar {
        overflow-y: scroll;
    }
}

/* Footer section */
footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
}
